[flake8]
filename = ./src/*.py,*.py
exclude = .git,__pycache__,venv,.pytest_cache,coverage,tests
ignore =
    E501, # Long lines not too bad
    E731, # Lambdas not too bad
    W503, # Line breaks on binary operators
    W504
# Black default / good for accessibility and split monitors
max-line-length = 88
# Mccabe branching factor < 4 good; 5-7 medium; 8-10 complex; 10+ basically random
max-complexity = 7
# personal opinion
docstring-convention = google
# Asserts in tests allowed
per-file-ignores = tests/*:S101

[pycodestyle]
max-line-length = 88
